.container {
  width: 100%;
  position: relative;
  background-color:#40cdf1;
}

.container img {
  width: 100%;
}

.textContainer {
  position: absolute;
  top: 150px;
  left: 100px;
}

.textContainer h1 {
  font-size: 7rem;
  color: #6ee2ff;
}

.textContainer p {
  font-size: 4rem;
  margin-top: 20px;
  color: #f9f9f9;
}

.textContainer span {
  color: #fff;
  font-weight: bold;
}
