.container img {
  width: 300px;
  cursor: pointer;
}
.container {
  margin: 10px;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(189, 189, 189);
}
.container h3 {
  color: #696969;
  margin: 30px 20px 20px;
}
.container p {
  margin: 0 25px 20px;
  background-color: rgb(19, 176, 61);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.counter{
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-top: solid rgb(131, 128, 128) 2px;
}
.counter img{
  width: 25px;
  margin: 10px;
}
.counter span{
  background-color: #27b870;
  padding: 8px;
  border-radius: 20px;
}
.deactivate{
  opacity: 0.2;
}
