.container{
    background-color: rgb(166, 206, 242);
    text-align: center;
}
.foodcontainer{
    display: flex;
    justify-content: space-around;
}
.container p{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(19, 103, 19);
    padding: 10px;
}