.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(235, 118, 68);
}
.logo{
    width: 100px;
    border-radius: 35%;
    padding: 10px;
    margin: 0 10px;
}
.list{
    display: flex;
    list-style: none;
}
.list li{
    padding: 5px 15px;
    font-size: 17px;
    font-weight: bold;
}
.list li:hover{
    color: rgb(156, 74, 40);
    cursor: pointer;
}