.header {
  display: flex;
  justify-content: space-between;
  background-color: #7d7d7d;
  align-items: center;
  padding: 0 50px;
}

.logo {
  width: 80px;
  border-radius: 50%;
  padding: 10px;
  margin: auto 0;
}
.list {
  display: flex;
  list-style: none;
}

.list li {
  padding: 15px;
  cursor: pointer;
  color: #6ee2ff;
  font-weight: bold;
}

.list li:hover {
  color: #b4b4b4;
}
