.container {
  background-color: #40cdf1;
  padding: 80px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.container input {
  width: 330px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.container input::placeholder {
  font-size: 1.4rem;
}
