.container{
    text-align: center;
    background-color: rgb(130, 209, 243);
}
.container h2{
    font-size: 2rem;
    margin: 10px;
    font-weight: bold
}
.teamslogo{
    display: flex;
    justify-content: space-around;
}
.teamslogo img{
    width: 300px;
    margin: 10px;
    border-radius: 45%;
}